@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#redes-sociais {
    text-align: right;
    padding: 20px 20px 0 0;
}

#redes-sociais img {
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

#redes-sociais img:hover {
    
    border: 2px solid rgba(255, 255, 255, 0.460);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform .3s;
    }

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;

    background: url('../imagens/frame-iphone.png') no-repeat;
}

#tela {
    position: relative;
    top: 80px;
    left: 22.3px;

    background-color: red;

    height: 471px;
    width: 267px;
}